<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lyd.base.provider.mapper.SystemAccessLogsMapper">
  <resultMap id="BaseResultMap" type="com.github.lyd.base.client.entity.SystemAccessLogs">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="access_id" jdbcType="BIGINT" property="accessId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="http_status" jdbcType="VARCHAR" property="httpStatus" />
    <result column="access_time" jdbcType="TIMESTAMP" property="accessTime" />
    <result column="data" jdbcType="LONGVARCHAR" property="data" />
    <result column="headers" jdbcType="LONGVARCHAR" property="headers" />
    <result column="exception" jdbcType="LONGVARCHAR" property="exception" />
  </resultMap>
</mapper>
