<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>demo</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css"/>
</head>
<body style="padding: 20px">
<div id="step_demo" class="step-body">
    <div class="step-header" style="width:80%;overflow: hidden;">
        <ul>
            <li>
                <span class="step-name">填写申请表</span>
            </li>
            <li>
                <span class="step-name">上传资料</span>
            </li>
            <li>
                <span class="step-name">待确认</span>
            </li>
            <li>
                <span class="step-name">已确认</span>
            </li>
            <li>
                <span class="step-name">待受理</span>
            </li>
            <li>
                <span class="step-name">已受理</span>
            </li>
            <li>
                <span class="step-name">预约完成</span>
            </li>
            <li>
                <span class="step-name">签证单已发放</span>
            </li>
        </ul>
    </div>
    <div class="step-content">
        <div class="step-list">填写申请表</div>
        <div class="step-list">上传资料</div>
        <div class="step-list">待确认</div>
        <div class="step-list">已确认</div>
        <div class="step-list">待受理</div>
        <div class="step-list">已受理</div>
        <div class="step-list">预约完成</div>
        <div class="step-list">签证单已发放</div>
        <div class="step-list">完成</div>
    </div>

</div>

<button id="preBtn">上一步</button>
<button id="nextBtn">下一步</button>
<button id="goBtn">跳转的指定的步骤</button>
<script src="../static/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/config.js" type="text/javascript" charset="utf-8"></script>
<script>
/*
 steps组件
 */
    layui.use(['jquery', 'steps'], function(){

        var $ = layui.$;

        var $step= $("#step_demo").step();

        $("#preBtn").click(function(event) {
            $step.preStep();//上一步
        });
        $("#nextBtn").click(function(event) {
            $step.nextStep();//下一步
        });
        $("#goBtn").click(function(event) {
            $step.goStep(3);//到指定步
        });
    });

</script>
</body>
</html>