<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css"/>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row  layui-col-space30">
        <div class="welcome-left-container layui-col-lg9">
            <div class="data-show">
                <ul class="clearfix">
                    <li class="layui-col-sm12 layui-col-md4 layui-col-xs12 " lay-filter="leftNav">
                        <a href="javascript:" class="clearfix">
                            <div class="icon-bg bg-org f-l">
                                <span class="iconfont">&#xe606;</span>
                            </div>
                            <div class="right-text-con">
                                <p class="name">服务数</p>
                                <p><span class="color-org">0</span></p>
                            </div>
                        </a>
                    </li>
                    <li class="layui-col-sm12 layui-col-md4 layui-col-xs12">
                        <a href="javascript:" class="clearfix">
                            <div class="icon-bg bg-blue f-l">
                                <span class="iconfont">&#xe602;</span>
                            </div>
                            <div class="right-text-con">
                                <p class="name">文章数</p>
                                <p><span class="color-blue">189</span>数据<span class="iconfont">&#xe628;</span></p>
                            </div>
                        </a>
                    </li>
                    <li class="layui-col-sm12 layui-col-md4 layui-col-xs12">
                        <a href="javascript:" class="clearfix">
                            <div class="icon-bg bg-green f-l">
                                <span class="iconfont">&#xe605;</span>
                            </div>
                            <div class="right-text-con">
                                <p class="name">评论数</p>
                                <p><span class="color-green">221</span>数据<span class="iconfont">&#xe60f;</span></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!--图表-->
            <div class="layui-card">
                <div class="layui-card-body" id="chart" style="height: 376px;">
                </div>
            </div>
            <!--服务器信息-->
            <div class="layui-card">
                <div class="layui-card-header">服务器信息</div>
                <div class="layui-card-body clearfix">
                    <table id="server-info" class="layui-table">
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-col-lg3">
            <!--最新留言-->
            <div class="layui-card">
                <div class="layui-card-header">最新留言</div>
                <div class="layui-card-body">
                    <div class="commentbox">
                        <ul class="commentList">
                            <li class="item cl"><a href="#"><i class="avatar size-L radius"><img alt=""
                                                                                                 src="http://static.h-ui.net/h-ui/images/ucnter/avatar-default.jpg"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">慕枫</a> 评论于
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31
                                                15:20
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p><a href="#">@某人</a> 系统真不错！！！</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl"><a href="#"><i class="avatar size-L radius"><img alt=""
                                                                                                 src="http://static.h-ui.net/h-ui/images/ucnter/avatar-default.jpg"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">慕枫</a> 评论于
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31
                                                15:20
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p><a href="#">@某人</a> 系统真不错！！！</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl"><a href="#"><i class="avatar size-L radius"><img alt=""
                                                                                                 src="http://static.h-ui.net/h-ui/images/ucnter/avatar-default.jpg"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">慕枫</a> 评论于
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31
                                                15:20
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p><a href="#">@某人</a> 系统真不错！！！</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl"><a href="#"><i class="avatar size-L radius"><img alt=""
                                                                                                 src="http://static.h-ui.net/h-ui/images/ucnter/avatar-default.jpg"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">慕枫</a> 评论于
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31
                                                15:20
                                            </time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p><a href="#">@某人</a> 系统真不错！！！</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="pagesbox" style="text-align: center;padding-top: 5px;">

                    </div>
                </div>
            </div>
            <!--联系-->
            <div class="layui-card">
                <div class="layui-card-header">联系我们</div>
                <div class="layui-card-body">
                    <p>QQ：1465465646</p>
                    <p>E-mail:4565564@qq.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/layui/layui.js" th:src="@{/static/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/config.js" th:src="@{/static/js/config.js}" type="text/javascript" charset="utf-8"></script>
<script src="../static/lib/echarts/echarts.js"></script>
<script type="text/javascript">
    layui.use(['home'], function () {

    });
</script>
</body>
</html>
