<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.lyd.base.producer.mapper.SystemGrantAccessMapper">
    <resultMap id="BaseResultMap" type="com.github.lyd.base.client.entity.SystemGrantAccess">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="prefix" property="prefix" jdbcType="VARCHAR"/>
        <result column="target" property="target" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="resource_id" property="resourceId" jdbcType="BIGINT"/>
        <result column="resource_pid" property="resourcePid" jdbcType="BIGINT"/>
        <result column="service_id" property="serviceId" jdbcType="VARCHAR"/>
        <result column="resource_type" property="resourceType" jdbcType="VARCHAR"/>
        <result column="grant_owner_id" property="grantOwnerId" jdbcType="BIGINT"/>
        <result column="grant_owner_code" property="grantOwnerCode" jdbcType="VARCHAR"/>
        <result column="grant_owner_type" property="grantOwnerType" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>
</mapper>
