<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.lyd.base.producer.mapper.SystemUserRoleMapper">
    <resultMap id="BaseResultMap" type="com.github.lyd.base.client.entity.SystemUserRole">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
    </resultMap>

    <select id="selectUserRoleList" resultMap="com.github.lyd.base.producer.mapper.SystemRoleMapper.BaseResultMap">
        SELECT
        system_user_role.user_id,
        system_role.role_id,
        system_role.role_code,
        system_role.role_name,
        system_role.role_desc,
        system_role.status,
        system_role.create_time,
        system_role.update_time
        FROM
        system_user_role
        LEFT JOIN system_role ON system_user_role.role_id = system_role.role_id
        WHERE user_id = #{userId}  and status = 1
    </select>
</mapper>
