<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.lyd.rbac.producer.mapper.AppDetailsMapper">
    <resultMap id="BaseResultMap" type="com.github.lyd.rbac.client.entity.AppDetails">
        <id column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="app_secret" property="appSecret" jdbcType="VARCHAR"/>
        <result column="app_name" property="appName" jdbcType="VARCHAR"/>
        <result column="app_name_en" property="appNameEn" jdbcType="VARCHAR"/>
        <result column="app_icon" property="appIcon" jdbcType="VARCHAR"/>
        <result column="website" property="website" javaType="VARCHAR"/>
        <result column="os" property="os" jdbcType="VARCHAR"/>
        <result column="app_type" property="appType" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT"/>
        <result column="tenant_type" property="tenantType" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--APP 应用信息-->
    <resultMap id="AppInfoResultMap" type="com.github.lyd.rbac.client.dto.AppDetailsDto"
               extends="BaseResultMap"></resultMap>

    <!--查询应用列表-->
    <select id="selectAppInfo" resultMap="AppInfoResultMap">
       SELECT * FROM platform_app_details
    </select>

    <select id="getAppInfo" resultMap="AppInfoResultMap">
         SELECT * FROM platform_app_details WHERE app_id = #{appId}
    </select>

</mapper>