<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.lyd.rbac.producer.mapper.RoleUserMapper">
    <resultMap id="BaseResultMap" type="com.github.lyd.rbac.client.entity.RoleUser">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findUserRoles" resultMap="com.github.lyd.rbac.producer.mapper.RoleMapper.BaseResultMap">
        SELECT
        platform_role_user.user_id,
        platform_role.role_id,
        platform_role.role_code,
        platform_role.role_name,
        platform_role.description,
        platform_role.enabled,
        platform_role.create_time,
        platform_role.update_time
        FROM
        platform_role_user
        LEFT JOIN platform_role ON platform_role_user.role_id = platform_role.role_id
        WHERE user_id = #{userId}  and enabled = 1
    </select>
</mapper>